@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@500&display=swap");
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-family: "Nunito Sans", Helvetica, sans-serif;
}

button {
  display: block;
  margin: auto;
  min-width: 80px;
  padding: 10px 20px;
  background-color: transparent;
  color: #2980b9;
  border-radius: 15px;
  border: 2px solid;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 200px;
  width: auto;
  height: auto;
  margin: auto;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card.flip {
  transform: rotateY(180deg);
}

.card-paired {
  display: none;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.container__image {
  height: 120px;
  width: 100px;
}

@media only screen and (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 140px;
  }

  .container__image {
    height: 100px;
    width: 80px;
  }
}