body{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  //background-color: red;
}


.cards {
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;

    width: 200px;
    height:100px;
    margin: auto;
    // flex-wrap: wrap;
    // width: 10px;   // size of the flip box/container
    // height: 10px; // size of the flip box/container
    perspective: 1000px; // how much the card flips into the screen/extends into the screen
  }

.card{
  position: relative; //standard positioning, doesn't really change anything about the way it functions
  width: 100%; // size of the inner container of the flip box
  height: 100%; // size of the inner container of the flip box
  text-align: center; // aligns the image or content to the centre - seems to also affect images smaller than the container
  transition: transform 0.5s; //controls the flip time
  transform-style: preserve-3d; // if removed just inverts the image and doesn't display other image
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); //standard box shadow
}

.card.flip {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; //controls if the image can be seen from behind
  backface-visibility: hidden; // controls if image can be seen from behind 
}

.card-front { //colouring settings for the front of the card
  background-color: #bbb; 
  color: black;
}

.card-back { //colouring settings for the back of the card
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg); //immediately prevents front side being seen if commented out. It's likely that is also flipped when the card is flipped so that it's not only one side beign flipped
}

.container__image{
    height: 100px;
    width: 100px;
}

